*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  background: linear-gradient(
    167deg,
    #475569 20%,
    rgba(161, 150, 150, 0.25) 20.4%,
    rgba(255, 255, 255, 1) 21%
  );
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  padding: 60px;
}

.image-wrapper {
  position: relative;
}

.image-wrapper > img {
  max-width: 350px;
  min-height: 200px;
  border: 1px solid;
  border-radius: 12px;
}

#my-name {
  position: absolute;
  bottom: 0px;
  left: 88px;

  color: white;
  font-size: 1.5em;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  padding: 40px 24px 0px 24px;
  margin: 12px 0px 12px 0px;
  background-color: #f1f5f9;
  border: 0px solid;
  border-radius: 0px 10px 10px 0px;
}

.about-wrapper > p {
  font-size: 1.3em;
}

.about-wrapper > div {
  display: flex;
  justify-content: end;
}

a {
  text-decoration: none;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 48px 0px 48px;
  gap: 32px;
  margin-left: 120px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 500px;
  border: black 2px solid;
  border-radius: 10px;
  overflow: hidden;
}

.project-card > .project-image > img {
  object-fit: cover;
  height: 100%;
}

.project-image {
  height: 100%;
}

.section-1 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 12px;

  gap: 20px;
}

.icons {
  display: flex;
  gap: 6px;
  align-items: center;
}

.para {
  padding: 12px;
  font-size: 1.3em;
  width: 100%;
  padding: 12px 0px 12px 40px;
}

.projects-wrapper > .projects-title {
  display: flex;
  justify-content: start;
  width: 75%;
  margin-bottom: 12px;
}

h3 {
  font-size: 1.4em;
}

.footer {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 30px;
  padding: 32px;
  background-color: #465d7d;
}

.icon-div {
  display: flex;
  gap: 4px;
}

.info > p,
.info > h2 {
  color: white;
}

.icon-div > p {
  color: white;
}